.groovy-header, .groovy-footer {
    .master-detail-shift;
    .dim(100%, 50px);
    .pos(fixed, 0, 0);
    background-color:@c0;
    color:white;
    text-align:center;
    z-index:100;
}

.groovy-header {
    .groovy-header-menu {
        margin:5px;
        .dim(40px, 40px);
        .pos(absolute, 0, initial, initial, 0);
    }
}

.groovy-footer {
    height:60px;
    .pos(fixed, initial, 0, 0);
    &.lagoon {
        background-color:@p8;
    }
    &.strawberry {
        background-color:@p7;
    }
    &.banana {
        background-color:@p9;
        color:black;
    }
    &.bruise {
        background-color:@p8;
    }
    &.emerald-cove {
        background-color:@p7;
    }
    &.nassau-sunset {
        background-color:@p9;
    }
    .groovy-view-tab {
        padding:0 10px;
        .dim(auto, 100%);
        display:inline-block;
        line-height:60px;
        vertical-align:middle;
        cursor:pointer;
    }
}
