.groovy-master-detail {
    .dim(200px, 100%);
    .pos(fixed, 0, initial, initial, -200px);
    z-index:101;
    &.lagoon {
        background-color:@p8;
    }
    &.strawberry {
        background-color:@p7;
    }
    &.banana {
        background-color:@p9;
        color:black;
    }
    &.bruise {
        background-color:@p8;
    }
    &.emerald-cove {
        background-color:@p7;
    }
    &.nassau-sunset {
        background-color:@p9;
    }
    .groovy-view-detail {
    }
}
