<div class='groovy-header' ng-class='groovyColor()'>
    {{#if masterDetail}}
        <img class='groovy-header-menu'
             src='{{masterDetail.iconUrl}}'
             onclick='javascript:void(0);'
             ng-click='toggleMasterDetail()' />
    {{/if}}
    <h1 class='groovy-header-title'>
        {{header.title}}
    </h1>
</div>
