{{#unless header}}
    <img class='groovy-header-menu'
         src='{{masterDetail.iconUrl}}'
         onclick='javascript:void(0);'
         ng-click='toggleMasterDetail()' />
{{/unless}}
<div class='groovy-master-detail'
     ng-controller='baseCtrl'
     ng-class='groovyColor()'>
    <div class='groovy-view-detail'
         ng-repeat='view in views'
         ng-click='setActiveGroovyView(view.id)'>
        <img ng-if='view.icon' ng-src='{{{noparse 'view.icon'}}}' />
        {{{noparse 'view.name'}}}
    </div>
</div>
