<div class='groovy-tabbed' ng-class='groovyColor()'>
    <div class='groovy-view-tab'
         ng-repeat='view in views'
         ng-class='{ "groovy-active": isActiveGroovyView(view.id) }'
         onclick='javascript:void(0);'
         ng-click='setActiveGroovyView(view.id)'>
        <img ng-if='view.icon'
             class='groovy-view-tab-img'
             ng-src='{{{noparse 'view.icon'}}}' />
        <span ng-if='view.name' class='groovy-view-tab-label'>
            {{{noparse 'view.name'}}}
        </span>
    </div>
</div>
