.groovy-footer .groovy-view-tab,
.groovy-master-detail .groovy-view-detail,
.groovy-view.groovy-list-view .groovy-list-view-list li a span {
    vertical-align:top;
}

.groovy-view-tab img {
    height:100%;
    width:25px;
}
