@import 'mixins';
@import 'shared';
@import 'headerFooter';
@import 'masterDetail';
@import 'view';

.banana {
    background-color:@p3;
    color:black;
}

.bruise {
    background-color:@p4;
}

.emerald-cove {
    background-color:@p5;
}

.lagoon {
    background-color:@p1;
}

.list {
    list-type:none;
    list-style-type:none;
}

.master-detail-shift {
    .transition(400ms, left);
    &.groovy-active {
        left:200px;
    }
}

.nassau-sunset {
    background-color:@p6;
}

.strawberry {
    background-color:@p2;
}
