.groovy-view {
    .master-detail-shift;
    margin:2%;
    padding:5px;
    .dim(96%);
    min-height:85%;
    .transition(400ms, left);
    .pos(absolute, 50px, @5: 0);
    z-index:90;
    &.groovy-list-view {
        .groovy-list-view-list {
            margin:-5px -5px 10px -5px;
            .list;
            li {
                .dim(100%);
                cursor:pointer;
                border-bottom:1px solid @c0;
                a {
                    .dim(100%, 50px);
                    .groovy-list-view-icon {
                        .left;
                        margin-right:-10px;
                        .dim(@2: 100%);
                        display:inline-block;
                        text-decoration:none;
                    }
                    .groovy-list-view-label {
                        margin-left:15px;
                        .font(@f0, 1em, 50px, black);
                        vertical-align:middle;
                        text-decoration:none;
                        display:inline-block;
                    }
                }
                .groovy-settings-view-switch {
                    .right;
                    margin:11px;
                    .groovy-settings-view-label {
                        margin:0 -16px;
                    }
                }
            }
        }
    }
    &.groovy-grid-view {
        .groovy-grid-view-grid {
            .dim();
            table {
                margin:0 -5px 10px -5px;
                display: table;
                width: 105%;
                border-collapse: collapse;
                text-align:center;
                tbody tr {
                    &:last-of-type {
                        border-bottom:1px solid @c0;
                    }
                }
            }
            .panel-heading,
            .panel-body {
                background-color:white;
                padding:10px 15px;
            }
        }
    }
    &.groovy-list-view,
    &.groovy-grid-view {
        .border-radius(5px);
        overflow:hidden;
        background-color:white;
        border:1px solid @c0;
        box-shadow:0 3px 3px -2px @c0;
    }
}
